<form [formGroup]="deckForm">
  <h1 i18n="@@deckFormTitle">Create a new deck</h1>
  <div class="form-group">
    <label for="name" i18n="@@deckFormLabelName">Deck name:</label>
    <input type="text" class="form-control" id="name" formControlName="name" />
    <div
      *ngIf="
        deckForm.get('name')?.invalid &&
        (deckForm.get('name')?.dirty || deckForm.get('name')?.touched)
      "
      class="form-text text-danger"
      i18n="@@deckFormErrorName"
    >
      Please enter a name for your deck.
    </div>
  </div>
  <div class="form-group">
    <label i18n="@@selectCards">Select cards :</label>
    <div *ngIf="cards.length > 0" class="card-list">
      <div
        class="card"
        *ngFor="let card of cards"
        [ngClass]="{ selected: isSelected(card.id) }"
        (click)="toggleCard(card)"
      >
        <h2>{{ card.name }}</h2>
        <p i18n="@@deckFormCardValue">Value: {{ card.value }}</p>
      </div>
    </div>
    <div
      *ngIf="selectedCards.length === 0"
      class="form-text text-danger"
      i18n="@@deckFormErrorSelectCards"
    >
      Please select at least one card for your deck.
    </div>
    <div
      *ngIf="selectedCards.length === 5"
      class="form-text text-danger"
      i18n="@@deckFormErrorMaxCards"
    >
      Maximum number of cards reached.
    </div>
    <div
      *ngIf="totalCardValue > 0"
      class="form-text text-danger"
      i18n="@@deckFormErrorTotalValue"
    >
      Point: {{ totalCardValue }}/30
    </div>
  </div>
  <button
    class="btn btn-primary"
    (click)="createDeck()"
    i18n="@@deckFormButton"
  >
    Create deck
  </button>
</form>
