<!-- <nav class="menu">
  <ul>
    <li><a routerLink="/card">Card</a></li>
    <li><a routerLink="/deck">Deck</a></li>
    <li><a routerLink="/autre">autre</a></li>
  </ul>
</nav> -->
<nav>
  <ul>
    <li><a routerLink="/card">Card</a></li>
    <li>
      <a href="#">Deck</a>
      <ul>
        <li><a href="/deck">Afficher</a></li>
        <li><a href="/deck/create">Creer</a></li>

      </ul>
    </li>
    <!-- <li>
      <a href="#">Services</a>
      <ul>
        <li><a href="#">Service 1</a></li>
        <li><a href="#">Service 2</a></li>
        <li><a href="#">Service 3</a></li>
      </ul>
    </li>
    <li><a href="#">Contact</a></li> -->
  </ul>
</nav>
