<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input formControlName="name" matInput type="text" placeholder="Nom" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Nom d'utilisateur</mat-label>
    <input
      formControlName="login"
      matInput
      type="text"
      placeholder="Nom d'utilisateur"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Mot de passe</mat-label>
    <input
      formControlName="password"
      matInput
      type="password"
      placeholder="Mot de passe"
    />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">S'inscrire</button>
</form>
