<div class="dialog">
  <div mat-dialog-content>
    <form [formGroup]="deckForm">
      <h1 i18n="@@UpdateDeck">Update my deck</h1>
      <div class="form-group">
        <label for="name" i18n="@@deckFormLabelName:">Deck name:</label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
        />
      </div>

      <div class="form-group">
        <label i18n="@@selectCards">Select cards : </label>
        <div *ngIf="cards.length > 0" class="card-list">
          <div
            class="card"
            *ngFor="let card of cards"
            [ngClass]="{ selected: isSelected(card.id) }"
            (click)="toggleCard(card)"
          >
            <h2>{{ card.name }}</h2>
            <p i18n="@@CardValueLabel">Valeur : {{ card.value }}</p>
          </div>
        </div>
      </div>
      <div *ngIf="totalCardValue() > 0" class="form-text text-danger">
        <span i18n="@@PointLabel">Point :</span> {{ totalCardValue() }}/30
      </div>

      <button
        class="btn btn-primary"
        (click)="updateDeck()"
        i18n="@@UpdateDeck"
      >
        Update my deck
      </button>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()" i18n="@@CancelButton">
      Delete
    </button>
    <button mat-button (click)="onAdd()" i18n="@@SubmitAddButton">Add</button>
  </div>
</div>
